@charset "utf-8";

//////////////colorskinbegin//////////////////////////

// Light mode
// ----------

:root {
    --minima-text-color-hue: 0;
    --minima-text-color-saturation: 0%;
    --minima-text-color-lightness: 7%;
  
    --minima-brand-color-hue: 0;
    --minima-brand-color-saturation: 0%;
    --minima-brand-color-lightness: 51%;
  
    --minima-link-base-color-hue: 214;
    --minima-link-base-color-saturation: 76%;
    --minima-link-base-color-lightness: 53%;
  
    --minima-brand-color: hsl(var(--minima-brand-color-hue), var(--minima-brand-color-saturation), var(--minima-brand-color-lightness));
    --minima-brand-color-light: hsl(var(--minima-brand-color-hue), var(--minima-brand-color-saturation), calc(var(--minima-brand-color-lightness) + 40%));
    --minima-brand-color-dark : hsl(var(--minima-brand-color-hue), var(--minima-brand-color-saturation), calc(var(--minima-brand-color-lightness) - 25%));
  
    --minima-site-title-color: var(--minima-brand-color-dark);
  
    --minima-text-color: hsl(var(--minima-text-color-hue), var(--minima-text-color-saturation), var(--minima-text-color-lightness));
    --minima-background-color: #fdfdfd;
    --minima-code-background-color: #eeeeff;
  
    --minima-link-base-color: hsl(var(--minima-link-base-color-hue), var(--minima-link-base-color-saturation), var(--minima-link-base-color-lightness)) ;
    --minima-link-visited-color: hsl(var(--minima-link-base-color-hue), var(--minima-link-base-color-saturation), calc(var(--minima-link-base-color-lightness) - 15%)) ;
    --minima-link-hover-color: var(--minima-text-color) ;
  
    --minima-border-color-01: var(--minima-brand-color-light) ;
    --minima-border-color-02: hsl(var(--minima-brand-color-hue), var(--minima-brand-color-saturation), calc(var(--minima-brand-color-lightness) + 35%)) ;
    --minima-border-color-03: var(--minima-brand-color-dark) ;
  
    --minima-table-text-color: hsl(var(--minima-text-color-hue), var(--minima-text-color-saturation), calc(var(--minima-text-color-lightness) + 18%)) ;
    --minima-table-zebra-color: hsl(var(--minima-brand-color-hue), var(--minima-brand-color-saturation), calc(var(--minima-brand-color-lightness) + 46%)) ;
    --minima-table-header-bg-color: hsl(var(--minima-brand-color-hue), var(--minima-brand-color-saturation), calc(var(--minima-brand-color-lightness) + 43%)) ;
    --minima-table-header-border: hsl(var(--minima-brand-color-hue), var(--minima-brand-color-saturation), calc(var(--minima-brand-color-lightness) + 37%)) ;
    --minima-table-border-color: var(--minima-border-color-01) ;
}

:root {
    --minima-base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif ;
    --minima-code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
    --minima-base-font-size: 16px ;
    --minima-base-font-weight: 400 ;
    --minima-small-font-size: calc(var(--minima-base-font-size) * 0.875) ;
    --minima-base-line-height: 1.5 ;
    --minima-spacing-unit: 30px ;
    --minima-table-text-align: left ;
}


// Syntax highlighting styles should be adjusted appropriately for every "skin"
// ----------------------------------------------------------------------------

.highlight {
    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
}

//////////////colorskinend//////////////////////////







:root {
    --minima-content-width: 800px;
}

// Width of the content area
@media screen and (min-width: 600px) { //on-medium = on-palm
  .site-nav {
    position: static;
    float: right;
    border: none;
    background-color: inherit;
  }

  .site-nav label[for="nav-trigger"] {
    display: none;
  }

  .site-nav .menu-icon {
    display: none;
  }

  .site-nav input ~ .trigger {
    display: block;
  }

  .site-nav .page-link {
    display: inline;
    padding: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }
    margin-left: auto;
  }


//@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (var(--minima-spacing-unit) / 2 ));
    padding: 0 (calc(var(--minima-spacing-unit) * .5));

    &:first-child {
      padding-right: calc(var(--minima-spacing-unit) * .5);
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: calc(var(--minima-spacing-unit) * .5);
    }
  }
//}

}

:root {
  --minima-wrapper-max-width: calc( var(--minima-content-width) - (var(--minima-spacing-unit)));
  --minima-wrapper-padding-left-right: calc(var(--minima-spacing-unit) * .5);
  
  --minima-post-content-h1-font-size: 2.625rem;
  --minima-post-content-h2-font-size: 1.75rem;
  --minima-post-content-h3-font-size: 1.375rem;

  --minima-footer-col1-width: calc(50% - (var(--minima-spacing-unit) / 2));
  --minima-footer-col2-width: calc(50% - (var(--minima-spacing-unit) / 2));
  --minima-footer-col3-width: calc(50% - (var(--minima-spacing-unit) / 2));
}

@media screen and (min-width: 800px) { //on-large
:root{
    --minima-wrapper-max-width: calc( var(--minima-content-width) - (var(--minima-spacing-unit) * 2));
    --minima-wrapper-padding-left-right: var(--minima-spacing-unit);
    
    --minima-one-half-width: calc(50% - (var(--minima-spacing-unit) / 2 ));
  
    --minima-post-content-h1-font-size: 2.625rem;
    --minima-post-content-h2-font-size: 2rem;
    --minima-post-content-h3-font-size: 1.625rem;

    --minima-footer-col1-width: calc(35% - (var(--minima-spacing-unit) / 2));
    --minima-footer-col1-width: calc(20% - (var(--minima-spacing-unit) / 2 ));
    --minima-footer-col1-width: calc(45% - (var(--minima-spacing-unit) / 2 ));

  }
}


@media screen and (max-width: 600px) { //on-palm
:root {
    --minima-site-title-padding-right: 45px;
}
}

@media screen and (max-width: 800px) { //on-laptop
:root {
  --minima-table-display: block;
  --minima-table-overflow-x: auto;
  --minima-table-webkit-overflow-scrolling: touch;
  --minima-table-ms-overflow-style: -ms-autohiding-scrollbar;
}
}

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
// Some colors come from Material Theme Darker:
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/settings/specific/darker-hc.ts
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/color-set.ts
// ----------------------------------------------------------------------------
// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.

// Import pre-styling-overrides hook and style-partials.
;

///////////////////////_base.scss///////////////////////

// Placeholder to allow overriding predefined variables smoothly.
html {
  font-size: var(--minima-base-font-size);
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  font: var(--minima-base-font-weight) var(--minima-base-font-size)/var(--minima-base-line-height) var(--minima-base-font-family);
  color: var(--minima-text-color);
  background-color: var(--minima-background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc(var(--minima-spacing-unit) * .5);
}

hr {
  margin-top: var(--minima-spacing-unit);
  margin-bottom: var(--minima-spacing-unit);
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--minima-small-font-size);
}



/**
 * Lists
 */
ul, ol {
  margin-left: var(--minima-spacing-unit);
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--minima-base-font-weight);
}



/**
 * Links
 */
a {
  color: var(--minima-link-base-color);
  text-decoration: none;

  &:visited {
    color: var(--minima-link-visited-color);
  }

  &:hover {
    color: var(--minima-link-hover-color);
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: var(--minima-brand-color);
  border-left: 4px solid var(--minima-border-color-01);
  padding-left: calc(var(--minima-spacing-unit) * .5);
  font-size: 1.125rem;//@include relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: var(--minima-code-font-family);
  font-size: 0.9375em;
  border: 1px solid var(--minima-border-color-01);
  border-radius: 3px;
  background-color: var(--minima-code-background-color);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: var(--minima-code-background-color);
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: var(--minima-code-background-color);
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: var(--minima-wrapper-max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--minima-wrapper-padding-left-right);
  padding-left: var(--minima-wrapper-padding-left-right);
  @extend %clearfix;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}


/**
 * Tables
 */
table {
  margin-bottom: var(--minima-spacing-unit);
  width: 100%;
  text-align: var(--minima-table-text-align);
  color: var(--minima-table-text-color);
  border-collapse: collapse;
  border: 1px solid var(--minima-table-border-color);
  tr {
    &:nth-child(even) {
      background-color: var(--minima-table-zebra-color);
    }
  }
  th, td {
    padding: (calc(var(--minima-spacing-unit) * 33.3333333333 * .01)) (calc(var(--minima-spacing-unit) * .5));
  }
  th {
    background-color: var(--minima-table-header-bg-color);
    border: 1px solid var(--minima-table-header-border);
  }
  td {
    border: 1px solid var(--minima-table-border-color);
  }

  display: var(--minima-table-display);
  overflow-x: var(--minima-table-overflow-x);
  -webkit-overflow-scrolling: var(--minima-table-webkit-overflow-scrolling);
  -ms-overflow-style: var(--minima-table-ms-overflow-style);

  
}

///////////////////////_layout.scss///////////////////////

/**
 * Site header
 */
.site-header {
  border-top: 5px solid var(--minima-border-color-03);
  border-bottom: 1px solid var(--minima-border-color-01);
  min-height: calc(var(--minima-spacing-unit) * 1.865);
  line-height: calc(var(--minima-base-line-height) * var(--minima-base-font-size) * 2.25);

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 1.625rem; //@include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  padding-right: var(--minima-site-title-padding-right);

  &,
  &:visited {
    color: var(--minima-site-title-color);
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: calc(var(--minima-spacing-unit) * .5);
  background-color: var(--minima-background-color);
  border: 1px solid var(--minima-border-color-01);
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: var(--minima-border-color-03);
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: var(--minima-text-color);
    line-height: var(--minima-base-line-height);
    display: block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--minima-border-color-01);
  padding: var(--minima-spacing-unit) 0;
}

.footer-heading {
  font-size: 1.125rem;//@include relative-font-size(1.125);
  margin-bottom: calc(var(--minima-spacing-unit) * .5);
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  font-size: 0.9375rem;//@include relative-font-size(0.9375);
  color: var(--minima-brand-color);
}

.footer-col {
  margin-bottom: calc(var(--minima-spacing-unit) * .5);
}

.footer-col-1 {
  width: var(--minima-footer-col1-width);
}

.footer-col-2 {
  width: var(--minima-footer-col2-width);
}

.footer-col-3 {
  width: var(--minima-footer-col3-width);
}



/**
 * Page content
 */
.page-content {
  padding: var(--minima-spacing-unit) 0;
  flex: 1 0 auto;
}

.page-heading {
  font-size: 2rem;//@include relative-font-size(2);
}

.post-list-heading {
  font-size: 1.75rem;//@include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: var(--minima-spacing-unit);
  }
}

.post-meta {
  font-size: var(--minima-small-font-size);
  color: var(--minima-brand-color);
}

.post-link {
  display: block;
  font-size: 1.5rem;//@include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: var(--minima-spacing-unit);
}

.post-title,
.post-content h1 {
  font-size: var(--minima-post-content-h1-font-size);//@include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;
}

.post-content {
  margin-bottom: var(--minima-spacing-unit);

  h1, h2, h3, h4, h5, h6 { margin-top: var(--minima-spacing-unit) }

  h2 {
    font-size: var(--minima-post-content-h2-font-size);//@include relative-font-size(1.75);
  }

  h3 {
    font-size: var(--minima-post-content-h3-font-size);//@include relative-font-size(1.375);
  }

  h4 {
    font-size: 1.25rem;//@include relative-font-size(1.25);
  }

  h5 {
    font-size: 1.125rem;//@include relative-font-size(1.125);
  }
  h6 {
    font-size: 1.0625rem;//@include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid var(--minima-border-color-01);
      &:hover { border-color: var(--minima-border-color-02) }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: var(--minima-spacing-unit);
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: calc(var(--minima-spacing-unit) * .25);
      border: 1px solid transparent;

      &.pager-edge {
        color: var(--minima-border-color-01);
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */

.one-half { width: var(--minima-one-half-width) }
// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
