/* begin custom-styles.scss
// Placeholder to allow overriding predefined variables smoothly.
*/

/* begin _base.scss */

html {
  font-size: var(--minima-base-font-size);
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  font: var(--minima-base-font-weight) var(--minima-base-font-size)/var(--minima-base-line-height) var(--minima-base-font-family);
  color: var(--minima-text-color);
  background-color: var(--minima-background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc(var(--minima-spacing-unit) * .5);
}

hr {
  margin-top: var(--minima-spacing-unit);
  margin-bottom: var(--minima-spacing-unit);
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--minima-small-font-size);
}



/**
 * Lists
 */
ul, ol {
  margin-left: var(--minima-spacing-unit);
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--minima-base-font-weight);
}



/**
 * Links
 */
a {
  color: var(--minima-link-base-color);
  text-decoration: none;

  &:visited {
    color: var(--minima-link-visited-color);
  }

  &:hover {
    color: var(--minima-link-hover-color);
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: var(--minima-brand-color);
  border-left: 4px solid var(--minima-border-color-01);
  padding-left: calc(var(--minima-spacing-unit) * .5);
  font-size: 1.125rem;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: var(--minima-code-font-family);
  font-size: 0.9375em;
  border: 1px solid var(--minima-border-color-01);
  border-radius: 3px;
  background-color: var(--minima-code-background-color);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: var(--minima-code-background-color);
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: var(--minima-code-background-color);
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: var(--minima-wrapper-max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--minima-wrapper-padding-left-right);
  padding-left: var(--minima-wrapper-padding-left-right);
  @extend %clearfix;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}


/**
 * Tables
 */
table {
  margin-bottom: var(--minima-spacing-unit);
  width: 100%;
  text-align: var(--minima-table-text-align);
  color: var(--minima-table-text-color);
  border-collapse: collapse;
  border: 1px solid var(--minima-table-border-color);
  tr {
    &:nth-child(even) {
      background-color: var(--minima-table-zebra-color);
    }
  }
  th, td {
    padding: (calc(var(--minima-spacing-unit) * 33.3333333333 * .01)) (calc(var(--minima-spacing-unit) * .5));
  }
  th {
    background-color: var(--minima-table-header-bg-color);
    border: 1px solid var(--minima-table-header-border);
  }
  td {
    border: 1px solid var(--minima-table-border-color);
  }

  display: var(--minima-table-display);
  overflow-x: var(--minima-table-overflow-x);
  -webkit-overflow-scrolling: var(--minima-table-webkit-overflow-scrolling);
  -ms-overflow-style: var(--minima-table-ms-overflow-style);

  
}

/* begin _layout.scss */

/**
 * Site header
 */
.site-header {
  border-top: 5px solid var(--minima-border-color-03);
  border-bottom: 1px solid var(--minima-border-color-01);
  min-height: calc(var(--minima-spacing-unit) * 1.865);
  line-height: calc(var(--minima-base-line-height) * var(--minima-base-font-size) * 2.25);

  /*
  // Positioning context for the mobile navigation icon
  */
  position: relative;
}

.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  padding-right: var(--minima-site-title-padding-right);

  &,
  &:visited {
    color: var(--minima-site-title-color);
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: calc(var(--minima-spacing-unit) * .5);
  background-color: var(--minima-background-color);
  border: 1px solid var(--minima-border-color-01);
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: var(--minima-border-color-03);
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: var(--minima-text-color);
    line-height: var(--minima-base-line-height);
    display: block;
    padding: 5px 10px;

    /*
    // Gaps between nav items, but not on the last one
    */
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--minima-border-color-01);
  padding: var(--minima-spacing-unit) 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: calc(var(--minima-spacing-unit) * .5);
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  font-size: 0.9375rem;
  color: var(--minima-brand-color);
}

.footer-col {
  margin-bottom: calc(var(--minima-spacing-unit) * .5);
}

.footer-col-1 {
  width: var(--minima-footer-col1-width);
}

.footer-col-2 {
  width: var(--minima-footer-col2-width);
}

.footer-col-3 {
  width: var(--minima-footer-col3-width);
}



/**
 * Page content
 */
.page-content {
  padding: var(--minima-spacing-unit) 0;
  flex: 1 0 auto;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: var(--minima-spacing-unit);
  }
}

.post-meta {
  font-size: var(--minima-small-font-size);
  color: var(--minima-brand-color);
}

.post-link {
  display: block;
  font-size: 1.5rem;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: var(--minima-spacing-unit);
}

.post-title,
.post-content h1 {
  font-size: var(--minima-post-content-h1-font-size);
  letter-spacing: -1px;
  line-height: 1.15;
}

.post-content {
  margin-bottom: var(--minima-spacing-unit);

  h1, h2, h3, h4, h5, h6 { margin-top: var(--minima-spacing-unit) }

  h2 {
    font-size: var(--minima-post-content-h2-font-size);
  }

  h3 {
    font-size: var(--minima-post-content-h3-font-size);
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1.0625rem;
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid var(--minima-border-color-01);
      &:hover { border-color: var(--minima-border-color-02) }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: var(--minima-spacing-unit);
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: calc(var(--minima-spacing-unit) * .25);
      border: 1px solid transparent;

      &.pager-edge {
        color: var(--minima-border-color-01);
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */

.one-half { width: var(--minima-one-half-width) }
/* begin custom-variables.scss
// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
*/
